<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir Seleccion</title>
</head>
<body>
    <h2>Añadir nueva seleccion</h2>
    <form action="/deportes/mundial" method="POST">
        {%csrf_token%}
        <label for="seleccion">Nombre Seleccion:</label><br>
        <input type="text" id="seleccion" name="seleccion"><br>
        <label for="continente">Continente:</label><br>
        <input type="text" id="continente" name="continente"><br>
        <label for="mganados">Mundiales Ganados:</label><br>
        <input type="text" id="mganados" name="mganados"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>